{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <h1>Quiz Generator</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'quiz' %}">
        {% csrf_token %}

        <label>Topic:</label>
        <input type="text" name="topic" placeholder="e.g Python" required>

        <label>Number of Questions:</label>
        <input type="number" name="num_questions" min="1" required>

        <button type="submit">Generate Quiz</button>
    </form>
</div>

</body>
</html>